<div id="giscus_thread" class="giscus-thread">
  {% if site.giscus.repo %}
    <script defer src="{{ '/js/giscus-setup.js' | relative_url }}"></script>
    <noscript>
      Please enable JavaScript to view the
      <a href="http://giscus.app/?ref_noscript">comments powered by giscus.</a>
    </noscript>
  {% else %}
    <div class="alert alert-warning" role="alert">
      <h5>Giscus comments misconfigured</h5>
      <p>Please follow instructions at <a href="http://giscus.app">giscus.app</a> and update your giscus configuration in <code>_config.yml</code>.</p>
    </div>
  {% endif %}
</div>