<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<!-- hack iOS CSS :active style -->
<body ontouchstart="">

    {% include nav.html %}
    {% include search.html %}

    {{ content }}

    <!-- back-to-top -->
    <div id="back-top">
        <a href="#top" data-toggle="tooltip" data-placement="top" title="Back to Top">
            <i class="fa fa-chevron-up" aria-hidden="true"></i>
        </a>
    </div>

    {% include footer.html %}


<!-- Migrate from head to bottom, no longer block render and still work -->

</body>

</html>
